<!-- index.ejs -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">
  <link rel="stylesheet" href="<%= asset('/css/index-style.css') %>">
  <link rel="icon" type="image/png" href="<%= asset('/img/favicon.png') %>">
  <title>Rhyme's Essay</title>
</head>

<body>
  <div class="essay-header-container">
    <img src="<%= asset('/img/essays-header.png') %>" alt="Essays Header" class="header-image">
  </div>
  <div class="container">
    <% for(let post of posts) { %>
      <div class="essay-item-container">
        <a href="<%=post.dest%>" class="essay-item-title">
          <%=post.title %>
        </a>
        <span class="essay-item-date">
          <%=post.creationDate.toLocaleDateString("zh-CN")%>
        </span>
      </div>
      <% } %>
  </div>
  <footer class="miscc-footer">
    Powered by <a href="https://github.com/wiomoc/miscc" class="miscc-link">miscc</a> version <%= MISCC_VERSION%>
  </footer>
</body>

</html>